doctype html
html(lang='en')
head
	meta(charset="utf-8")
	meta(name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width")
	title To Do List
	link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
	link(rel="stylesheet" href="main.css")

body
	block content

	script(src="common.js")
	script(src="handlers.js")
	script(src="routes.js")
	script(src="main.js")

	